** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

s = "Hi there Yogesh!"
*into a list. *

In [4]:
s="Hi there Yogesh"

In [5]:
s

'Hi there Yogesh'

In [6]:
s.split()

['Hi', 'there', 'Yogesh']

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
type(planet)

str

In [9]:
type(diameter)

int

In [11]:
"The diameter of {} is {} kilometers ". format(planet, diameter)

'The diameter of Earth is 12742 kilometers '

*** Given this nested dictionary grab the word "hello"

***lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [16]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [17]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [18]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [19]:
lst[3][1]

[100, 200, ['hello']]

In [20]:
lst[3][1][2][0]

'hello'

** grab 'hello from dictionary d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [21]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
type(d)

dict

In [25]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [35]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **
Tuple is immutable whereas list is mutable

** Create a function that grabs the email website domain from a string in the form: **

**user@domain.com

**abc@gmail.com

In [46]:
def fun(x):
    return x.split('@')[1]

In [47]:
x=('abc@gmail.com')

In [48]:
fun('abc@gmail.com')

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [91]:
def dog(y):
    return 'dog' in y.lower()

In [92]:
dog('the dog is big')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [15]:
def count(x):
    c=0
    for w in x.lower().split():
        if w=='dog':
            c+=1
    return c

In [17]:
count("dog dog dog DOG")

4

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [21]:
seq=['soup','dog','salad','cat','great']

In [22]:
type(seq)

list

In [24]:
list(filter(lambda item: item.startswith("s"), seq))

['soup', 'salad']

Final Problem
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [28]:
def catch_speed(s,b):
    if b:
        s_new=s-5
    else:
        s_new=s
    if s_new>80:
        return "BIG TICKET"
    elif s_new>60:
        return "SMALL TICKET"
    else:
        return "NO TICKET"

In [37]:
catch_speed(80, False)

'SMALL TICKET'

In [38]:
catch_speed(81, False)

'BIG TICKET'

## Question
##Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [46]:
s=input("enter the string")
number=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    number=number+s[0]
for n in s:
    if n.isdigit():
        number=number+n
print(number)

enter the string-76754efgh43
-7675443

##Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [52]:
num1=input("Enter the Number:")
num2=int(num1[::-1])
num3=str(int(num1)+(num2))
print("Number is:",num3)
print("Reverse is",num3[::-1])
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is:",num3)
    print("Reverse is",num3[::-1])
print("palindrome is:",num3)

Enter the Number:6754
Number is: 11330
Reverse is 03311
Number is: 14641
Reverse is 14641
palindrome is: 14641

##Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [65]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [66]:
fun1()

75313